*{
 font-family: Arial, Helvetica, sans-serif;

}

h1{
text-align: center;
margin: 1rem 0;

}

.congratulation{
 font-size: 1.5rem;
 padding: .4rem;
 background-color: #0a790a;
 color: #fff;
 border-radius: 5px;
 text-align: center;
 max-width:  500px;
 margin: 1rem auto;

}

.container{
 display: grid;
 grid-template-columns: repeat(4,2fr); /*repete 4 colunas para cada linha*/
 gap:1rem; /*intervalo entre cada um dos elementos*/
 max-width: 800px;
 margin: 0 auto;
}

.card{
 position: relative;
 height: 200px;
 /* border: 1px solid red; */
}

.card .front,
.card .back {
 position: absolute;
 width: 100%;
 height: 100%;
 backface-visibility: hidden;
 transform: 1px solid #000;
 background-position: center;
 background-size: cover;
}

.card .front{
 transform: rotateY(180deg);
 transition: .4s;
}

.card .back{
 transform: rotateY(0deg);
 transition: .4s;
 z-index: 1;

}

.card.flip.front{
 transform: rotateY(0deg);
 z-index: 2;

}

.card.flip.back{
 transform: rotateY(0deg);

}

.attempts-container{
text-align: center;
margin-top: 1.5rem;
}

.attempts{
 font-size: 1.4rem;


}